@import "../styles/colors.scss";

.navbar {
  background-color: $black-color;
  border: none;
  border-radius: 0;
  .navbar-brand {
    color: #fff;
    @media (max-width: 768px) {
      min-width: 84px;
      padding-left: 25px;
    }
    @media (min-width: 768px) {
      margin-left: -5px !important;
    }
  }
  .navbar-brand:focus,
  .navbar-brand:hover {
    color: #bfbfbf;
  }
  .navbar-right {
    margin-right: 5px;
  }
  .navbar-nav {
    li {
      a {
        color: #fff;
        text-decoration: underline;
        &:hover {
          color: #bfbfbf;
        }
      }
    }
  }
  .navbar-header {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  .navbar-collapse {
    @media (min-width: 768px) {
      justify-self: flex-end;
      margin-left: auto;
    }
  }
  .navbar-toggle {
    background-color: transparent;
    margin-left: 50px;
    border: none;
    @media (max-width: 768px) {
      margin-left: 8px;
      margin-right: 0;
      padding-right: 15px;
    }
    &:hover,
    &:focus {
      background-color: transparent;
    }
    .icon-bar {
      width: 26px;
      background-color: #fff;
      & + .icon-bar {
        margin-top: 5px;
      }
    }
  }
  // .navbar-form {
  //     justify-self: flex-end;
  //     margin-left: auto;
  //     border: none;
  //     box-shadow: none;
  //     margin-right: 3px;
  //     @media (max-width: 768px) {
  //         padding: 8px 0;
  //     }
  // }
  .container-fluid {
    padding-right: 39px;
    padding-left: 30px;
    align-items: center;
    @media (min-width: 768px) {
      display: flex;
    }
  }
  // .form-control {
  //     padding: 0 5px;
  //     height: 24px;
  //     border-radius: 0;
  //     line-height: 24px;
  //     &:focus {
  //         width: 146px;
  //     }
  //     @media (max-width: 768px) {
  //         width: 106px;
  //         margin-right: 0;
  //         transition: width 0.3s ease-in-out;
  //         &:focus {
  //             width: 146px;
  //         }
  //     }
  // }
}

.navbar-form {
  justify-self: flex-end;
  margin-left: auto;
  border: none;
  box-shadow: none;
  margin-right: 3px;
  @media (max-width: 768px) {
    padding: 8px 0;
  }
  .form-control {
    padding: 0 5px;
    height: 24px;
    border-radius: 0;
    line-height: 24px;
    width: 200px;

    @media (max-width: 768px) {
      width: 106px;
      margin-right: 0;
    }
  }
}

.nav {
  > li {
    > a {
      padding: 10px 5px;
    }
  }
}

h1 {
  font-size: inherit;
  margin: initial;
}

main {
  .container-fluid {
    padding-left: 14px;
    padding-right: 44px;
    @media (max-width: 768px) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}
